body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', sans-serif;
  background-color: var(--background);
  color: var(--primary);
}

:root {
  --background: #e5e5e5;
  --primary: #edf2f4;
  --header: #cd6538;
  --input: #ffe3d8;
  --title: #42332b;
  --background: #d7d7d7;
}

table {
  border: 1px solid #dddddd;
  width: 100%;
  color: black;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: var(--header);
  color: white;
}

td,
th {
  border: 1px solid #dddddd;
  font-weight: 400;
  padding: 10px;
}
